body {
	font-size: 18px;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
/* Header*/
header {
	background-color: yellow;
	margin: 0px;
}

header nav {
	margin: 10px;
}

nav a {
	text-decoration: none;
	text-transform: none;
	color: black;
}

nav a h1 {
	color: black;
	float: left;
}

nav ul {
	text-decoration: none;
	text-transform: none;
	list-style: none;
	float: right;
	padding-top: 12px;
}

nav li {
	float: left;
	display: inline;
	padding-top: 50px;
	padding: 0 20px 0 20px;
}

/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/* Intro stage*/
button {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 100px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
	margin-bottom: 30px;
	margin: auto;
	display: block;
	margin-top: 50px;
	}

.nextbtn {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 150px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
	margin-bottom: 40px;
	text-transform: none;
	text-decoration: none;
}

.trybtn {
 margin-bottom: 40px;
}

/* stage 1*/
#btnA {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 220px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
}

#btnB {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 220px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
}

#btnC {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 220px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
}

#btnD {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 220px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
}

.stage2btn {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 150px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
}

/* stage 2*/
.battlestart {
	width: 150px;
}

.stage3btn {
	width: 150px;
}

/* stage 3*/
#move{
	margin-top: 80px;
}

#myProgress {
	width: 100%;
	background-color: #4CAF50;
	float: right;
}

#myBar {
	width: 100%;
	height: 30px;
	background-color: grey;
	text-align: center;
	color: white;
	float: right;
}

.stage4btn {
	width: 180px;
	margin-bottom: 20px;
}

/* final stage*/
#countdown {
	font-size: 20px;
}
.rewardbtn {
	width: 180px;
}

#found {
	width: 150px;
}

#restartbtn {
	width: 150px;
}

/* Treasure room*/
li {
	margin-bottom: 15px;
}

a {
	font-size: 18px;
	text-decoration: none;
}

/* Mobile responsive*/
@media (max-width: 768px){
	p {
		font-size: 22px;
	}
	a {
	font-size: 22px;
}
}