body {
	font-size: 18px;
	font-family: 'Krub', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
/* Header*/
header {
	background-color: yellow;
	margin: 0px;
}

header nav {
	margin: 10px;
}

nav a {
	text-decoration: none;
	text-transform: none;
	color: black;
}

nav a h1 {
	color: black;
	float: left;
}

nav ul {
	text-decoration: none;
	text-transform: none;
	list-style: none;
	float: right;
	padding-top: 12px;
}

nav li {
	float: left;
	display: inline;
	padding-top: 50px;
	padding: 0 20px 0 20px;
}

/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}



/* Intro stage*/
#text {
	text-align: center;
}
.intro {
	text-align: center;
}
#showBtn {
	text-align: center;
}
#showBtn2 {
	text-align: center;
}
#showBtn3 {
	text-align: center;
}
#showBtn4 {
	text-align: center;
}
#showBtn5 {
	text-align: center;
}
button {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 100px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
	margin-bottom: 30px;
	margin: auto;
	display: block;
	margin-top: 50px;
	}

.nextbtn {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 150px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
	margin-bottom: 40px;
	text-transform: none;
	text-decoration: none;
}

.trybtn {
 margin-bottom: 40px;
}

.choice {
	display: grid;
	grid-template-columns: 60% 15%;
	margin-bottom: 40px;
}

/* stage 1*/
#btnA {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 220px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
}

#btnB {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 220px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer; 
}

#btnC {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 220px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
}

#btnD {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 220px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
}

.stage2btn {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 150px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
	margin-bottom: 40px;
}

.trybtn2 {
	margin-bottom: 40px;
}

.ansbtn {
	display: grid;
	grid-template-columns: 60% 15%;
}

/* stage 2*/
#battlestart {
	width: 150px;
	margin-bottom: 40px;
}

#showBoss {
	text-align: center;
	margin-bottom: 40px;
}

.stage3btn {
	width: 150px;
	margin-bottom: 40px;
}

/* stage 3*/
#move{
	margin-top: 80px;
}

#myProgress {
	width: 100%;
	background-color: #4CAF50;
	float: right;
}

#myBar {
	width: 100%;
	height: 30px;
	background-color: grey;
	text-align: center;
	color: white;
	float: right;
}

.stage4btn {
	width: 180px;
	margin-bottom: 40px;
}

.btnfail {
	margin-bottom: 40px;
}

#drug {
	margin-bottom: 40px;
}

/* final stage*/
#startbtn {
	margin-bottom: 40px;
}
#countdown {
	font-size: 40px;
	font-weight: bold;
}

.rewardbtn {
	width: 180px;
	margin-bottom: 40px;
}

#found {
	width: 150px;
	margin-bottom: 40px;
	opacity: 0.1;
}

#restartbtn {
	width: 150px;
	margin-bottom: 40px;
}

h2 {
	text-align: center;
	font-size: 40px;
}

/* Treasure room*/
li {
	margin-bottom: 15px;
}

a {
	font-size: 18px;
	text-decoration: none;
}

/* Mobile responsive*/
@media (max-width: 768px){
	p {
		font-size: 20px;
	}
	a {
	font-size: 20px;

}
.ansbtn {
	display: grid;
	grid-template-columns: 50% 28%;
}
#btnA, #btnB, #btnC, #btnD{
	font-size: 15px;
	height: 28px;
	width: 145px;
	
}
}