body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

header {
	background-color: yellow;
	padding-top: 30px;
	min-height: 70px;
}

/* Intro stage*/
button {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 100px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
}

.nextbtn {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 150px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
}

/* stage 1*/
#btnA {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 250px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
}


#btnB {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 250px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
}

#btnC {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 250px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
}

#btnD {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 250px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
}

.stage2btn {
	background-color: yellow;
	border: none;
	font-size: 20px;
	height: 35px;
	width: 150px;
	border: 1px;
	border-color: black;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
}

/* stage 2*/
.battlestart {
	width: 150px;
}

.stage3btn {
	width: 150px;
}

/* stage 3*/
#myProgress {
	width: 100%;
	background-color: #4CAF50;
	float: right;
}

#myBar {
	width: 100%;
	height: 30px;
	background-color: grey;
	text-align: center;
	color: white;
	float: right;
}

.stage4btn {
	width: 180px;
	margin-bottom: 20px;
}

/* final stage*/
